<div class="container mt-3" *ngIf="izdelek">
    <div class="row m-0">
      <div class="row m-0 p-0">
        <div class="border mb-2">
          <h4 class="mb-4 mb-lg-3 mt-2 fs-4"><b>{{izdelek.naziv}}</b></h4>
          <p>
              <b>KATEGORIJA</b>: {{izdelek.kategorija}}
          </p>
            <div *ngFor="let cena of cene">
                <div class="row  mb-3 shadow-sm">
                    <div class="card">
                        <div class="row">
                            <div class ="col-12 col-lg-5 fs-5 fw-bold mt-2">
                            {{cena.trgovina.ime}}
                            </div>
                            <div class ="col-12 col-lg-4  mt-2">
                            {{convertCena(cena.cena)}} {{valuta}}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>
    </div>
    <div *ngIf="izdelek">
        <p class="fs-5 fw-bold mt-4">
            Najbližja trgovina:
        </p>
        <div class="row mb-3 shadow-sm" *ngIf="najblizjaTrgovina">
            <div class ="col-12 col-lg-5 fs-5 fw-bold mt-2">
                {{najblizjaTrgovina.trgovina.ime}}
            </div>
            <div class ="col-12 col-lg-4  mt-2">
                {{najblizjaTrgovina.trgovina.lokacija}}
            </div>
            <div class ="col-12 col-lg-3  mt-2">
                Razdalja: {{najblizjaTrgovina.distance}} km
            </div>
        </div>
  </div>
  <div class="container mt-3" *ngIf="!izdelek">
    Izberite izdelek!
  </div>
  